apiVersion: batch/v1
kind: Job
metadata:
  name: kibana-automation
  namespace: observability
  annotations:
    # Mantém a execução DEPOIS do deploy
    "helm.sh/hook": post-install,post-upgrade
    # Garante que espere um pouco, dando tempo para que os hooks nativos de infraestrutura da Elastic finalizem antes da automação tentar se conectar ao Kibana
    "helm.sh/hook-weight": "20"
    # Deleta o job antigo antes de criar o novo, e limpa se falhar
    "helm.sh/hook-delete-policy": before-hook-creation,hook-failed,hook-succeeded
spec:
  template:
    spec:
      containers:
      - name: kibana-api-client
        image: curlimages/curl:latest
        command: ["/bin/sh", "-c"]
        args:
          - |
            # Aguarda o Kibana e Elasticsearch (Adicionado -k para HTTPS)
            until $(curl -k -s -o /dev/null -w "%{http_code}" https://elasticsearch-master:9200/_cluster/health | grep -q "200"); do
              echo "Aguardando Elasticsearch ficar saudável..."
              sleep 10
            done
            until $(curl -k -s -o /dev/null -w "%{http_code}" https://kibana-kibana:5601/api/status | grep -q "200"); do
              echo "Aguardando Kibana ficar pronto..."
              sleep 10
            done

            # 1. Importa Index Pattern (Adicionado -k e autenticação -u)
            curl -k -X POST "https://kibana-kibana:5601/api/saved_objects/index-pattern" \
              -H "kbn-xsrf: true" -H "Content-Type: application/json" \
              -u "elastic:${ELASTICSEARCH_PASSWORD}" -d @/data/index-pattern.json

            # 2. Importa Dashboard (Adicionado -k e autenticação -u)
            curl -k -X POST "https://kibana-kibana:5601/api/saved_objects/_import?overwrite=true" \
              -H "kbn-xsrf: true" -u "elastic:${ELASTICSEARCH_PASSWORD}" \
              --form file=@/data/kibana-dashboard.ndjson

            # 3. Importa Alerta (Adicionado -k e autenticação -u)
            curl -k -X POST "https://kibana-kibana:5601/api/alerting/rule" \
              -H "kbn-xsrf: true" -H "Content-Type: application/json" \
              -u "elastic:${ELASTICSEARCH_PASSWORD}" -d @/data/alert-rule.json
        volumeMounts:
        - name: config-files
          mountPath: /data
      restartPolicy: OnFailure
      volumes:
      - name: config-files
        projected:
          sources:
          - configMap:
              name: kibana-setup-config
          - configMap:
              name: kibana-dashboards-content
          - configMap:
              name: kibana-alerts-config