namespace: sre-test
replicaCount: 2

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0

image:
  repository: placeholder-user/sre-app # Será sobrescrito pelo pipeline
  pullPolicy: Always
  tag: "latest"

securityContext:
  runAsUser: 1001
  runAsGroup: 1001
  fsGroup: 1001

service:
  port: 8080

probes:
  liveness:
    path: /health
  readiness:
    path: /ready

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

# Configuração de Topology Spread Constraints (Baseado no seu projeto GitHub)
topologySpreadConstraints:
  - maxSkew: 1
    topologyKey: "kubernetes.io/hostname"
    whenUnsatisfiable: DoNotSchedule # Garante que os pods fiquem em nós diferentes
    labelSelector:
      matchLabels:
        app.kubernetes.io/name: my-app

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  targetCPU: 70
  targetMemory: 75

env:
  APP_ENV: staging
  configMapKey: APP_ENV