# Configuração para ambiente de desenvolvimento/teste (Single Node)
replicas: 1
minimumMasterNodes: 1

# Recursos ajustados para o seu cluster local
resources:
  requests:
    cpu: "250m"
    memory: "768Mi"
  limits:
    cpu: "500m"
    memory: "1.5Gi"

# Persistência de dados dos logs
persistence:
  enabled: true
  size: 2Gi

# Probes de Saúde para Resiliência
clusterHealthCheckParams: "wait_for_status=yellow&timeout=1s"

# Liveness: Reinicia se o processo travar
livenessProbe:
  initialDelaySeconds: 90
  periodSeconds: 10

# Readiness: Garante que o ES está pronto para receber logs
readinessProbe:
  initialDelaySeconds: 60 # Aumentado de 30 para dar tempo ao Java de iniciar
  periodSeconds: 10
  failureThreshold: 10 # Dá mais tentativas antes de desistir

# Startup: Dá tempo para o bootstrap do nó
startupProbe:
  failureThreshold: 30
  periodSeconds: 10

# Força O usuário elastic usar a senha do Secret
esConfig:
  elasticsearch.yml: |
    xpack.security.enabled: true

extraEnvs:
  - name: ELASTIC_PASSWORD
    valueFrom:
      secretKeyRef:
        name: elasticsearch-master-credentials
        key: password
