# Configura o Job de pré-instalação para usar a senha do Secret
passwordFromSecret:
  name: elasticsearch-admin # Nome exato do seu SealedSecret
  key: password

# Injeta o Usuário e a Senha para o Pod do Kibana via variáveis de ambiente
extraEnvs:
  - name: ELASTICSEARCH_USERNAME
    valueFrom:
      secretKeyRef:
        name: elasticsearch-admin
        key: username # Chave do usuário no seu SealedSecret
  - name: ELASTICSEARCH_PASSWORD
    valueFrom:
      secretKeyRef:
        name: elasticsearch-admin
        key: password # Chave da senha no seu SealedSecret

# Garante o protocolo correto para evitar o erro 401 de handshake
elasticsearchHosts: "https://elasticsearch-master:9200"

resources:
  requests:
    cpu: "200m"
    memory: "512Mi"
  limits:
    cpu: "500m"
    memory: "1Gi"

# Configuração para acesso local via port-forward
service:
  type: ClusterIP
  port: 5601

  livenessProbe:
  httpGet:
    path: /api/status
    port: 5601
  initialDelaySeconds: 30
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /api/status
    port: 5601
  initialDelaySeconds: 120
  periodSeconds: 10

startupProbe:
  httpGet:
    path: /api/status
    port: 5601
  failureThreshold: 20
  periodSeconds: 5